.your-life {
    background-image: url(../assets/img/intro.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 745px;
}

.wrapper_life {
    text-align: center;
    color: white;
    padding-top: 338px;
}

.life__button:hover{
    opacity: 80%;
    transition: opacity 200ms;
}

.life__title {
    position: relative;
    left: 5px;
    letter-spacing: 6px;
    font-size: 35px;
}

.life__text {
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: Gotham-Light;
    font-size: 15px;
}

.life__buttons {
    padding-top: 216px;

}

.your-life__social-button {
    padding: 0 5px;

}

.button.your-life__button{
    position: relative;
    padding: 18px 29px ;
    top: -5px;
}

.your-life__button:hover{
    opacity: 80%;
    transition: opacity 300ms;
}

.button.your-life__button div{
    position: relative;
    top: 2px;
    letter-spacing: 2px;
    font-size: 12px;
}

.life__button{
    padding: 5px;
}