body{
    margin: auto;
    color: black;
    width: 1280px;
    font-family: GothomRounded_medium, sans-serif;
}

@font-face {
    font-family: GothomRounded_medium;
    src: url("fonts/gotham-rounded/GothamRoundedMedium_21022.ttf");
}

@font-face {
    font-family: GothomRounded_bold;
    src: url("fonts/gotham-rounded/GothamRoundedBold_21016.ttf");
}

*{
    box-sizing: border-box;
}

h1{
    margin: 0;
}

/*.container{
    width: 100%;
    max-width: 1200px;
}*/

.intro{
    width: 100%;
    height: 745px;
    background-image: url("assets/image/Intro.jpg");
    background-repeat: no-repeat;
}

.header{
    position: absolute;
    z-index: 1000;
    width: inherit;
    display: flex;
    justify-content: center;
}


.header-inner{
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav{
    color: black;
    display: flex;
    /*justify-content: space-around;*/
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    flex-grow: 100;
}
.nav img{
    position: absolute;
}